---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import SpecialtyIntro from '../components/SpecialtyIntro.astro';
import ServicesGrid from '../components/ServicesGrid.astro';
import CtaStrip from '../components/CtaStrip.astro';
import QuoteWizard from '../components/QuoteWizard.astro';
import ClientFeed from '../components/ClientFeed.astro';
import AboutTeaser from '../components/AboutTeaser.astro';
import Footer from '../components/Footer.astro';
import WhatsAppFab from '../components/WhatsAppFab.astro';
import { detectLocale, t } from '../i18n/messages';
import { SEO_COPY } from '../lib/seo';
import { getClients } from '../lib/store';

export const prerender = false;

const cookieLang = Astro.cookies.get('zav_lang')?.value ?? null;
const accept = Astro.request.headers.get('accept-language');
const locale = detectLocale(accept, cookieLang);
const m = t(locale);

const clients = await getClients();
---

<BaseLayout
  title={SEO_COPY[locale].title}
  description={SEO_COPY[locale].description}
  locale={locale}
  canonicalPath="/"
  ogImage="/hero-bedroom.jpg"
>
  <Header locale={locale} m={m} />
  <main id="main-content">
    <Hero m={m} />
    <SpecialtyIntro m={m} />
    <ServicesGrid m={m} />
    <CtaStrip m={m} />
    <ClientFeed m={m} clients={clients} />
    <AboutTeaser m={m} />
    <QuoteWizard m={m} locale={locale} />
  </main>
  <Footer m={m} />
  <WhatsAppFab m={m} />
</BaseLayout>
